spring:
  jackson:
    serialization:
      indent-output: false
logging:
  level:
    root: WARN
    com.company.bookmanagement: INFO
    org.springframework.web: WARN
  file:
    name: /var/log/bookmanagement/application.log
    max-size: 100MB
    max-history: 30
server:
  error:
    include-stacktrace: never
    include-message: always
    include-exception: false
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false