spring:
  jackson:
    serialization:
      indent-output: true
logging:
  level:
    root: INFO
    com.company.bookmanagement: DEBUG
    org.springframework.web: DEBUG
    org.springframework.validation: DEBUG

server:
  error:
    include-stacktrace: on_param

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always